body {
    background-color: #ee5522a0;
    background-image: url("./img/giraffe.svg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:center left;
    height: 100%;
}

#linkimg {
    background-color: white;
    padding: 10px;
    margin: 5px;
    height: 48px;
    border-radius: 18px;
}

#projects {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}